#canvas{
  max-width: 800px;
  /* max-height: 400px; */
  width: 100% !important;
  height: 100% !important;
  margin: auto;
  z-index: 3;
}


@media only screen and (max-width: 600px) {
  #canvas{
    width: 100% !important;
    height: 100% !important;
  }
}
